<section class="my-5">
    <div class="row tw-max-w-3xl mx-auto">
        <h2 class="mb-5 tw-text-center">Events Highlights</h2>
        <section class="mx-auto tw-max-w-3xl">
            <h3>9 June 2023 (Fri)</h3>

            <article class="card mb-3">
                <div class="row g-0">
                    <div class="col-sm-3">
                        <img src="/images/thumbnail/Fintech Masterclass Trading Battle Game The Basics of Trading Forex and More-400px.jpg" />
                        <!-- <img src="/logo/logo-mckl.svg" /> -->
                    </div>
                    <div class="col-sm-9">
                        <div class="card-body">
                            <span class="badge bg-primary">KL Campus</span><span
                                class="badge bg-secondary">Workshop</span
                            >
                            <h5 class="card-title">
                                Fintech Masterclass
                                <br />Trading Battle Game: The Basics of Trading
                                Forex and More
                            </h5>
                            <p class="card-text">Time: 10AM – 12PM (2 hours)</p>
                            <!--  -->
                            <!-- <a
                                data-bs-toggle="modal"
                                data-bs-target="#formModal"
                                data-formUrl="https://forms.office.com/Pages/ResponsePage.aspx?id=Av12b9hpQEKD_MC8aRM5wpDGjCavM61JiDvFHLBtDntUMVpWWjJET1VQQlZQV1ZKOTJGTkdaSlZWSy4u&embed=true"
                                class="btn btn-secondary btn-sm"
                                >Register Here</a
                            >    -->
                            <a
                            data-bs-toggle="modal"
                            data-bs-target="#formModal"
                            data-formUrl="https://forms.office.com/Pages/ResponsePage.aspx?id=Av12b9hpQEKD_MC8aRM5wpRXcKG0wq9NjAt-QGtgQIVUNTdSWlNOMDE5SFdLUFZORFVVWUFQUk0wNi4u&embed=true"
                            class="btn btn-secondary btn-sm"
                            >Register Here</a
                        >
                        </div>
                    </div>
                </div>
            </article>

            <h3>10 June 2023 (Sat)</h3>

            <article class="card mb-3">
                <div class="row g-0">
                    <div class="col-sm-3">
                        <img src="/images/thumbnail/230529-openday-event3-400px.jpg" />
                        <!-- <img src="/logo/logo-mckl.svg" /> -->
                    </div>
                    <div class="col-sm-9">
                        <div class="card-body">
                            <span class="badge bg-primary">KL Campus</span><span
                                class="badge bg-secondary">Workshop</span
                            >
                            <h5 class="card-title">
                                IoT Masterclass
                                <br />From Zero to Hero: Mastering Arduino for
                                Beginners
                            </h5>
                            <p class="card-text">Time: 9AM – 12PM (3 hours)</p>
                            <a
                                data-bs-toggle="modal"
                                data-bs-target="#formModal"
                                data-formUrl="https://forms.office.com/Pages/ResponsePage.aspx?id=Av12b9hpQEKD_MC8aRM5wpDGjCavM61JiDvFHLBtDntUMVpWWjJET1VQQlZQV1ZKOTJGTkdaSlZWSy4u&embed=true"
                                class="btn btn-secondary btn-sm"
                                >Register Here</a
                            >
                        </div>
                    </div>
                </div>
            </article>

            <article class="card mb-3">
                <div class="row g-0">
                    <div class="col-sm-3">
                        <img src="/images/thumbnail/Business Talk Click-and-Order-400px.jpg" />
                    </div>
                    <div class="col-sm-9">
                        <div class="card-body">
                            <span class="badge bg-primary penang"
                                >Penang Campus</span
                            ><span class="badge bg-secondary">Talk</span>
                            <h5 class="card-title">
                                Business Talk: Click-and-Order
                            </h5>
                            <p class="card-text">Time: 11AM – 2PM (3 hours)</p>
                            <a
                                data-bs-toggle="modal"
                                data-bs-target="#formModal"
                                data-formUrl="https://forms.office.com/Pages/ResponsePage.aspx?id=Av12b9hpQEKD_MC8aRM5wpDGjCavM61JiDvFHLBtDntUQ0M4RVo1VExVNVBLVlhQWVA3ODlXSDZWVy4u&embed=true"
                                class="btn btn-secondary btn-sm"
                                >Register Here</a
                            >
                        </div>
                    </div>
                </div>
            </article>

            <h3>12 June 2023 (Mon)</h3>

            <article class="card mb-3">
                <div class="row g-0">
                    <div class="col-sm-3">
                        <img src="/images/thumbnail/230529-openday-event3-400px.jpg" />
                        <!-- <img src="/logo/logo-mcpykett.svg" /> -->
                    </div>
                    <div class="col-sm-9">
                        <div class="card-body">
                            <span class="badge bg-primary penang"
                                >Penang Campus</span
                            ><span class="badge bg-secondary">Talk</span>
                            <h5 class="card-title">
                                IoT Masterclass
                                <br />From Zero to Hero: Mastering Arduino for
                                Beginners
                            </h5>
                            <p class="card-text">Time: 9AM – 12PM (3 hours)</p>
                            <a
                                data-bs-toggle="modal"
                                data-bs-target="#formModal"
                                data-formUrl="https://forms.office.com/Pages/ResponsePage.aspx?id=Av12b9hpQEKD_MC8aRM5wpDGjCavM61JiDvFHLBtDntUMVpWWjJET1VQQlZQV1ZKOTJGTkdaSlZWSy4u&embed=true"
                                class="btn btn-secondary btn-sm"
                                >Register Here</a
                            >
                        </div>
                    </div>
                </div>
            </article>

            <h3>17 June 2023 (Sat)</h3>

            <article class="card mb-3">
                <div class="row g-0">
                    <div class="col-sm-3">
                        <img src="/images/thumbnail/230529-openday-event4-400px.jpg" />
                        <!-- <img src="/logo/logo-mckl.svg" /> -->
                    </div>
                    <div class="col-sm-9">
                        <div class="card-body">
                            <span class="badge bg-primary">KL Campus</span><span
                                class="badge bg-secondary">Forum</span
                            >
                            <h5 class="card-title">
                                Fulbright Scholar Forum - Conservation of the
                                Environment & Biodiversity in Malaysia
                            </h5>
                            <p class="card-text">
                                Time: 9.30AM – 12.30PM (3 hours)
                            </p>
                            <a
                                data-bs-toggle="modal"
                                data-bs-target="#formModal"
                                data-formUrl="https://docs.google.com/forms/d/e/1FAIpQLSfOXYGNYADQY8PpJh9QkiaV3yjOuDz6rEFpxNfLpP7QSfRXDg/viewform?embedded=true"
                                class="btn btn-secondary btn-sm"
                                >Register Here</a
                            >
                        </div>
                    </div>
                </div>
            </article>
            <article class="card mb-3">
                <div class="row g-0">
                    <div class="col-sm-3">
                        <!-- <img src="/logo/logo-mckl.svg" /> -->
                        <img src="/images/thumbnail/230529-openday-event1-400px.jpg" />
                    </div>
                    <div class="col-sm-9">
                        <div class="card-body">
                            <span class="badge bg-primary">KL Campus</span><span
                                class="badge bg-secondary">Workshop</span
                            >
                            <h5 class="card-title">
                                DSW Workshop
                                <br />Shattering Boundaries: Creating a World
                                Where Disability is not a Barrier
                            </h5>
                            <p class="card-text">
                                Time: 10 AM – 12.30 PM (2 hours 30 mins)
                            </p>
                            <a
                                data-bs-toggle="modal"
                                data-bs-target="#formModal"
                                data-formUrl="https://forms.office.com/Pages/ResponsePage.aspx?id=Av12b9hpQEKD_MC8aRM5wox_MZVsTWdKqdy9F_vPUqFUMkdXN1dCU0c4T09DUU9DNUJRTlM3VkpWQi4u&embed=true"
                                class="btn btn-secondary btn-sm"
                                >Register Here</a
                            >
                        </div>
                    </div>
                </div>
            </article>

            <article class="card mb-3">
                <div class="row g-0">
                    <div class="col-sm-3">
                        <img src="/images/thumbnail/studyingermany-400px.jpg" />
                    </div>
                    <div class="col-sm-9">
                        <div class="card-body">
                            <span class="badge bg-primary penang"
                                >Penang Campus</span
                            ><span class="badge bg-secondary">Workshop</span>
                            <h5 class="card-title">Study in Germany Info Talk</h5>
                            <p class="card-text">
                                Time: 12.30PM – 1.30PM (1 hour)
                            </p>
                            <a
                                href="https://www.eventbrite.com/e/study-in-germany-info-talk-penang-tickets-645189086927"
                                target="_blank"
                                class="btn btn-secondary btn-sm"
                                >Register Here</a
                            >
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </div>
</section>

<!-- Button trigger modal -->
<!-- <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#formModal"
>
    Open Google Form
</button> -->

<!-- Modal -->
<div
    class="modal fade"
    id="formModal"
    tabindex="-1"
    aria-labelledby="formModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="formModalLabel">Register here</h5> -->
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body" style="min-height: 600px;">
                <!-- Google Form Embed -->

                <!-- <iframe
                    width="640px"
                    height="480px"
                    src="https://forms.office.com/Pages/ResponsePage.aspx?id=Av12b9hpQEKD_MC8aRM5wox_MZVsTWdKqdy9F_vPUqFUMkdXN1dCU0c4T09DUU9DNUJRTlM3VkpWQi4u&embed=true"
                ></iframe> -->
                <!--  <iframe
                    src="https://forms.office.com/Pages/ResponsePage.aspx?id=Av12b9hpQEKD_MC8aRM5wox_MZVsTWdKqdy9F_vPUqFUMkdXN1dCU0c4T09DUU9DNUJRTlM3VkpWQi4u&embed=true"
                    width="100%"
                    height="600px"
                    frameborder="0"
                    marginwidth="0"
                    marginheight="0"
                    style="border: none; max-width:100%; max-height:100vh"
                    allowfullscreen
                    webkitallowfullscreen
                    mozallowfullscreen
                    msallowfullscreen
                >
                </iframe> -->
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button
                >
            </div>
        </div>
    </div>
</div>
<script is:inline>
    document.querySelectorAll('[data-bs-toggle="modal"]').forEach((item) => {
        item.addEventListener("click", (event) => {
            // Get the form URL from the data-formUrl attribute of the clicked button
            var formUrl = event.currentTarget.getAttribute("data-formUrl");

            // Create the iframe element
            var iframe = document.createElement("iframe");
            iframe.src = formUrl;
            iframe.width = "100%";
            iframe.height = "800px";
            iframe.frameBorder = "0";
            iframe.style.border = "none";
            iframe.style.maxWidth = "100%";
            iframe.style.maxHeight = "100vh";
            iframe.allowFullscreen = true;

            // Get the modal body
            var modalBody = document.querySelector("#formModal .modal-body");

            // Remove any existing iframe from the modal body
            while (modalBody.firstChild) {
                modalBody.firstChild.remove();
            }

            // Append the new iframe to the modal body
            modalBody.appendChild(iframe);
        });
    });
</script>
<style>
    .badge {
        margin-right: 0.25rem;
        margin-bottom: 0.5rem;
    }
    .badge.bg-primary {
        font-size: 1rem;
    }
    span.badge.bg-primary.penang {
        background-color: #0e53aa !important;
    }

    .card > .row > div {
        display: flex;
        align-items: center;
    }

    .card img {
        display: block;
        margin: auto;
        /* object-fit: none;
        width: 100%;
        height: 100%; */
    }
    .cr {
        width: 200px;
        padding: 16px;
        position: absolute;
        text-align: center;
        color: #f0f0f0;
        background-color: var(--bs-secondary);
        transform: rotate(-45deg);
        top: 25px;
    }
</style>
