---
import img_logo from "@assets/logo/mckl-campuses-logo.png";
const { homepage_path, nav__items } = Astro.props;
---

<header class="header fixed-top shadow bg-primary">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    aria-label="Fifth navbar example"
  >
    <div class="container">
      <a class="navbar-brand" href={homepage_path}>
        <img
          class="img-fluid"
          width="430"
          src={img_logo}
          alt="MCKL Logo"
          style="filter: brightness(100)"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar__primary"
        aria-controls="navbar__primary"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar__primary">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {
            nav__items.map((item) => (
              <li
                class={`nav-item ${
                  item.nav_item_class ? item.nav_item_class : ""
                }`}
              >
                <a
                  class={`nav-link ${
                    item.nav_link_class ? item.nav_link_class : ""
                  }`}
                  href={item.href}
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  .navbar-brand img {
    max-width: clamp(270px, 50vw, 417px);
  }
  .btn.btn-danger {
    font-weight: bold;
  }
</style>
