---
const { classes = "" } = Astro.props;
---

<div
  class:list={[
    "bg-secondary text-primary shadow-sm d-inline-block px-5 py-2 text-center",
    classes,
  ]}
>
  <p class="h4 mb-0">
    MCKL OPEN DAY
    <br />9am &ndash; 5pm (Mon &ndash; Sat)
    <br />24,25, 31 March &amp; 1 Apr 2023
    <br />KL Campus | Penang Campus
  </p>
</div>
