---
const { classes = "" } = Astro.props;
---

<div
  class:list={[
    "bg-secondary text-primary shadow-sm d-inline-block px-5 py-2 text-center",
    classes,
  ]}
>
  <!-- <a href="/open-day" class="tw-no-underline hover:tw-underline"> -->
    <p class="h4 mb-0 text-primary">
      <span>MCKL OPEN DAY</span>
      <span>9am &ndash; 5pm</span>
      <!-- <span>9am &ndash; 5pm (Mon &ndash; Sat)</span> -->
      <span>24, 25, 31 Mar &amp; 1 Apr 2023</span>

      <slot name="campus">
        <span>KL Campus | Penang Campus</span>
      </slot>
    </p>
  <!-- </a> -->
</div>
<style>
  span {
    display: block;
  }
</style>
