---
import img_logo from "@assets/logo/mckl-campuses-logo.png";
const { homepage_path } = Astro.props;
---

<section id="thank-you" class="bg__shiny py-5">
  <div class="container py-5 my-5">
    <div class="row text-center">
      <div class="col">
        <h2 class="h1 mb-4">Thank you for your submission!</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- <div class="col-auto" v-if="(!$route.path.match('/open-day'))">
        <a href="https://www.mckl.edu.my/open-day/" class="btn btn-primary"
          >Check out our Open Day</a
        >
      </div> -->
      <div class="col-12 text-center">
        <a href={homepage_path} class="btn btn-secondary">Return</a>
      </div>
      <slot>
        <!-- for all microsites -->
        <div class="col-lg-8">
          <a href="/scholarship">
            <img
              class="d-block mx-auto my-4"
              src="/images/banner/230314-100_scholarship.jpg"
              alt="MCKL 100% Merit Scholarship Available!"
            />
          </a>
        </div>
        <!-- unique:scholarship -->
      </slot>
    </div>
  </div>
</section>

<style lang="scss">
  .bg__shiny {
    background-image: linear-gradient(230deg, $secondary 0%, $light 50%);
  }
</style>
