---
const { dark_mode = false } = Astro.props;
---

<!-- about -->
<section id="about" class={`text-center mt-5 ${dark_mode && "dark_mode"}`}>
  <slot name="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 class="text-uppercase mb-4">About MCKL</h2>
          <h3 class="h5 mb-3">
            Welcome to
            <span class="d-inline-block">Methodist College Kuala Lumpur</span>
            <br />An Institution where values and tradition meet excellence in
            education!
          </h3>
          <p>
            For over four decades, Methodist College Kuala Lumpur (MCKL) has
            been providing quality, holistic education in the best of Methodist
            tradition. MCKL fully embraces the challenges and opportunities of
            educating and preparing students for further education, professional
            development, and job careers in the new IR 4.0 environment.
          </p>
        </div>
      </div>
    </div>
  </slot>
  <slot name="after_content" />
</section>

<style lang="scss">
  .dark_mode {
    background-image: url("../assets/bg/bg-aboutmckl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
      color: $secondary;
    }
    h3 {
      color: $white;
    }
  }
</style>
