---
const { bg_mobile, bg_laptop, bg_desktop, bg_img_style, href = "", ...rest } = Astro.props;
---

<section
  id="masthead"
  class="masthead masthead__ratio masthead__bg position-relative d-flex align-items-center py-4"
  {...rest}
>
  <picture class="masthead__picture">
    <source media="(min-width: 992px)" srcset={bg_desktop} />
    <source media="(min-width: 576px)" srcset={bg_laptop} />
    <img src={bg_mobile} alt="Background Image" style={bg_img_style} />
  </picture>

  <slot />
</section>

<style lang="scss">
  .masthead__picture {
    position: absolute;
    width: 100%;
    height: 100%;

    pointer-events: none;
  }
  .masthead__picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    z-index: -1;
  }
  .masthead__ratio {
    aspect-ratio: 1 /1;

    @include media-breakpoint-up(sm) {
      aspect-ratio: 4/3;
    }
    @include media-breakpoint-up(lg) {
      aspect-ratio: 20/9;
    }
  }
  .masthead__content--bg-white {
    background-color: rgba(255, 255, 255, 0.6);
  }
</style>
