---
// components
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";

import ShortcoursesNavPrimary from "./_short-courses-nav-primary.astro";
---

<Layout title="MCKL Short Courses" toast_hide={true}>
  <Header homepage_path="/short-courses">
    <ShortcoursesNavPrimary />
  </Header>
  <main class="main">
    <slot />
  </main>
  <Footer />
</Layout>
